@font-face { font-family: SegoeUI-Regular; src: url(../fonts/SegoeUI/Regular.hxd); }
@font-face { font-family: SegoeUI-Bold; src: url(../fonts/SegoeUI/Bold.hxd); }
@font-face { font-family: SegoeUI-Italic; src: url(../fonts/SegoeUI/Italic.hxd); }
@font-face { font-family: SegoeUI-Light; src: url(../fonts/SegoeUI/Light.hxd); }
@font-face { font-family: SegoeUI-Semibold; src: url(../fonts/SegoeUI/Semibold.hxd); }
@font-face { font-family: SegoeUI-Semibold-Italic; src: url(../fonts/SegoeUI/Semibold-Italic.hxd); }